.container{
    background-color: rgb(255, 255, 255);
    img{
        margin: auto;
        
        max-width: 8em; ;
        margin-left: auto;
        margin-right: auto;
        display: block ;
        align-self: center;
      
       
    }
    h1{
        text-align: center;
        color:#000000;

    }
    .gallery{
        margin-left: auto;
        margin-right: auto;
        display: block ;
        align-self: center;

      

    }

}