$pets: rgb(0, 0, 0);


.container {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  flex-direction: row;

  @mixin myContainer($color, $url) {
    width: 1000%;
    background-color: black;
    background-repeat: no-repeat;
    background-image: url($url);
    background-size: cover;
    background-position: center;
    transition: all 0.05s;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
   
    justify-content: center;
    align-items: center;

    .text {
      opacity: 1;
      text-decoration: none;
      
      font-weight: 500;
      letter-spacing: 0.6px;
      font-family: Roboto;

      font-size: 100px;
      a{
      color: #0F1928;
      }
    }
}
    .dogsContainer{
        @include myContainer($pets, "../media/dogs.jpg");
    }
    .catsContainer{
        @include myContainer($pets, "../media/cats.jpg");
    }
}